<h1>List all shops</h1>
<%= link_to 'New shop', new_shop_path %>

<%= form_tag do %>
  With selected:
  <%= submit_tag 'Copy', :disabled => true %>
  <%= submit_tag 'Delete', :disabled => true %>
  <table>
    <thead>
      <tr>
        <th />
        <th><%= sortable 'name' %></th>
        <th><%= sortable 'slug' %></th>
        <th><%= sortable 'logo_file_name', 'Logo' %></th>
        <th><%= sortable 'username_text' %></th>
        <th><%= sortable 'password_text' %></th>
        <th>Users</th>
        <th>Products</th>
        <th><%= sortable 'locale' %></th>
        <th><%= sortable 'opens_on' %></th>
        <th><%= sortable 'closes_on' %></th>
      </tr>
    </thead>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= check_box_tag 'shop_ids', shop.id %></td>
          <td><%= link_to shop.name, edit_shop_path(shop) %></td>
          <td><%= link_to shop.slug, shop %></td>
          <td><%= tooltip(shop.logo, shop.logo_file_name) %></td>
          <td><%= shop.username_text %></td>
          <td><%= shop.password_text %></td>
          <td><%= t('user', :count => shop.users.count) unless shop.users.blank? %></td>
          <td><%= tooltip(shop.products, t('product', :count => shop.products.count)) %>
          <td><%= shop.locale_text %></td>
          <td><%= shop.opens_on.to_s(:short) %></td>
          <td><%= shop.closes_on.to_s(:short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
