<h1>List all option groups</h1>

<%= form_tag do %>
  <%= link_to 'New option groups', new_option_group_path %><br />
  With selected:
  <%= submit_tag 'Copy', :disabled => true %>
  <%= submit_tag 'Delete', :disabled => true %>
  <table>
    <thead>
      <tr>
        <th />
        <th>Name</th>
        <th>Text</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @option_groups.each do |option_group| %>
        <tr>
          <td><%= check_box_tag 'option_group_ids', option_group.id %></td>
          <td><%= link_to option_group.name, edit_option_group_path(option_group) %></td>
          <td><%= option_group.text %></td>
          <td><%#= tooltip(option_group.options, t('option_group', :count => option_group.options.count) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
