<h1>List <%= @shop ? "users of #{@shop.name}" : 'all users' %></h1>

<%= form_tag upload_users_path, :multipart => true do %>
  <%= link_to 'New user', new_user_path %><br />
  With selected:
  <%= submit_tag 'Copy', :disabled => true %>
  <%= submit_tag 'Delete', :disabled => true %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Upload' %>
  <table>
    <thead>
      <tr>
        <th />
        <th><%= sortable 'name' %></th>
        <th>Order</th>
        <th><%= sortable 'username' %></th>
        <th><%= sortable 'plaintext_password', 'Password' %></th>
        <th><%= sortable 'department' %></th>
        <th><%= sortable 'shop_id', 'Shop' %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= check_box_tag 'user_ids', user.id %></td>
          <td><%= link_to user.name, edit_user_path(user) %></td>
          <td>
            <% if user.orders.last %>
              <%= tooltip(user.orders.last.options, user.orders.last.product.name, :text, true) %>
            <% end %>
          </td>
          <td><%= user.username %></td>
          <td><%= user.plaintext_password %></td>
          <td><%= user.department %></td>
          <td><%= user.shop.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
