<%= form_tag import_users_path do %>
  <fieldset>
    <%= label_tag :shop_id, 'Shop', :class => 'required' %>
    <%= collection_select :user, :shop_id, @shops, :id, :name, :include_blank => true %>
  </fieldset>
  <fieldset>
    <ol>
      <li>
        <%= label_tag :password, 'Shared password' %>
        <%= text_field :user, :password %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <ol>
      <li>
        <%= submit_tag('Import selected users') %>
      </li>
    </ol>
    <table class="upload">
      <thead>
        <tr>
          <th></th>
          <% (0...@columns).each do |i| %>
            <th><%= select_tag("transforms[#{i}]", transforms_for_import) %></th>
          <% end %>
        </tr>
        <tr>
          <th></th>
          <% (0...@columns).each do |i| %>
            <th><%= select_tag("fields[#{i}]", attributes_for_import) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% x = 0 %>
      <% y = 0 %>
      <% @users.each do |attributes| %>
        <% if attributes.reject(&:blank?).count > 0 %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td class="checkbox"><%= check_box_tag('rows[]', y, y != 0, :class => 'checkbox') %></td>
            <% attributes.each do |attribute| %>
              <td>
                <%= attribute %>
                <%= hidden_field_tag "attributes[#{y}][#{x}]", attribute %>
              </td>
              <% x += 1 %>
            <% end %>
          </tr>
          <% x = 0 %>
          <% y += 1 %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </fieldset>
<% end %>
