<h1>List all product templates</h1>

<%= form_tag do %>
  <%= link_to 'New product template', new_product_template_path %><br />
  With selected:
  <%= submit_tag 'Copy', :disabled => true %>
  <%= submit_tag 'Delete', :disabled => true %>
  <table>
    <thead>
      <tr>
        <th />
        <th>Name</th>
        <th>Identifier</th>
        <th>Image</th>
        <th>Brand</th>
      </tr>
    </thead>
    <tbody>
      <% @product_templates.each do |product_template| %>
        <tr>
          <td><%= check_box_tag 'product_template_ids', product_template.id %></td>
          <td><%= link_to product_template.name, edit_product_template_path(product_template) %></td>
          <td><%= product_template.identifier %></td>
          <td><%= tooltip(product_template.image.url, product_template.image_file_name, :img) if product_template.image.exists? %></td>
          <td><%= product_template.brand %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
