<%= form_for @product, :html => { :multipart => true } do |f| %>
  <% @product.errors.full_messages.each do |message| %>
    <span class="error"><%= message %>.</span>
  <% end %>
  <fieldset>
    <legend>Fields for product</legend>
    <ol>
      <li>
        <%= f.label :name, :class => 'required' %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :brand %>
        <%= f.text_field :brand %>
      </li>
      <li>
        <%= f.label :identifier %>
        <%= f.text_field :identifier %>
      </li>
      <li>
        <%= f.label :text %>
        <%= f.text_area :text %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <%= f.label :image, tooltip(@product.image, @product.image_file_name) %>
    <%= f.file_field :image %>
  </fieldset>
  <fieldset>
    <%= f.label :shop_id, :class => 'required' %>
    <%= f.collection_select :shop_id, @shops, :id, :name, :include_blank => true %>
  </fieldset>
  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
