<h1>List all products</h1>

<%= form_tag do %>
  <%= link_to 'New product', new_product_path %><br />
  With selected:
  <%= submit_tag 'Copy', :disabled => true %>
  <%= submit_tag 'Delete', :disabled => true %>
  <table>
    <thead>
      <tr>
        <th />
        <th>Name</th>
        <th>Identifier</th>
        <th>Image</th>
        <th>Brand</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= check_box_tag 'product_ids', product.id %></td>
          <td><%= link_to product.name, edit_product_path(product) %></td>
          <td><%= product.identifier %></td>
          <td><%= tooltip(product.image, product.image_file_name, :img) if product.image.exists? %></td>
          <td><%= product.brand %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
