<div id="product">
  <%= link_to image_tag(@product.image.url(:medium)), @product.image.url %>
  <h1><%= @product.name %></h1>
  <div><%= @product.text %></div>
  <%= form_for [@shop, @product, @order] do |f| %>
    <% @product.option_groups.each do |option_group| %>
      <%= f.label option_group.text %>
      <select name="order[option_ids][]">
        <% option_group.options.each do |option| %>
          <option value="<%= option.id %>"><%= option.text %></option>
        <% end %>
      </select><br />
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :product_id, :value => @product.id %>
    <%= f.submit t('place_order') %>
  <% end %>
</div>
