<!DOCTYPE html>
<html>
<head>
  <title>Yule</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="header">
    <div class="fixed-width">
      <h1>Baze JuleSystem</h1>
      <span><%= Time.now.to_s(:short) %></span>
    </div>
  </div>

  <div id="nav">
    <div class="fixed-width">
      <ul>
        <li><%= link_to_unless_current 'Shops', shops_path %></li>
        <li><%= link_to_unless_current 'Product templates', product_templates_path %></li>
      </ul>
    </div>
  </div>

  <div id="content" class="fixed-width">
    <%= yield %>
  </div>

  <div id="footer" class="fixed-width">
    &copy; 2010 <a href="http://baze.dk/">Baze A/S</a>
  </div>

</body>
</html>
