<!DOCTYPE html>
<html>
<head>
  <title><%= @shop.name %></title>
  <%= stylesheet_link_tag 'shop' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="header">
    <% if @shop.logo.exists? %>
      <%= image_tag @shop.logo.url %>
    <% end %>
  </div>

  <div id="nav">
    <ul>
      <li><%= link_to_unless_current t('welcome'), @shop %></li>
      <li><%= link_to_unless_current t('presents'), products_path %></li>
      <li><%= link_to_unless_current t('logout'), shops_path %></li>
    </ul>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
  </div>

</body>
</html>
