<!DOCTYPE html>
<html>
<head>
  <title><%= @shop.name %></title>
  <%= stylesheet_link_tag 'shop' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="header">
    <% if @shop.logo.exists? %>
      <%= image_tag @shop.logo.url %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div id="nav">
      <ul>
        <li><%= link_to_unless_current t('welcome'), @shop %></li>
        <li><%= link_to_unless_current t('presents'), shop_products_path(@shop) %></li>
        <li><%= link_to_unless_current t('logout'), destroy_user_session_path(@shop) %></li>
      </ul>
    </div>
  <% end %>

  <div id="content">
    <% flash.each do |name, message| %>
      <%= content_tag :span, message, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>

  <div id="footer">
  </div>

</body>
</html>
